@page "/"
@page "/about"
@using Jesforge.dev.Models

<PageTitle>Jesforge</PageTitle>


<div>

    <h1 class="text-blue-500">
        Jesforge
    </h1>

</div>

@code
{
    private Languages languages = new Languages();
}

