@page "/about"
@page "/"

@using Microsoft.AspNetCore.Components

<h1 class="mb-8 text-2xl font-medium tracking-tight">
    Hey and welcome friend! 👋
</h1>
<div class="prose prose-neutral dark:prose-invert">
    <p>
        I'm Jesper, a Full Stack Developer from Germany. I'm passionate about
        building software that is easy to use and maintain.
    </p>
    
    <div class="flex flex-wrap justify-center items-center rounded-lg space-x-4 border-t border-b border-gray-400 dark:border-gray-600 py-4 my-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-500 dark:to-gray-600"
        style="background-image: url('img/caro.png'); background-size: cover; background-position: center;">
        <div class="flex flex-col items-center">
            <div class="flex items-center justify-center">
                <ul class="flex flex-wrap justify-center items-center space-x-4">
                    @foreach (var tech in TechStack)
                    {
                        <li class="flex items-center justify-center">
                            <img src="@tech.Url" alt="@tech.Name" width="40" height="40" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    
    <div>
        <h1>About me</h1>
        <p>
            Welcome to my life. I work in my free time on various projects. I
            started in 2022 with <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="40" height="40" />
            and web development in <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" width="40" height="40" />,
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" width="40" height="40" />.
        </p>
    </div>
</div>

@code {
    private List<Tech> TechStack = new()
    {
        new Tech("React", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"),
        new Tech("Bash", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg"),
        new Tech("Next.js", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original-wordmark.svg"),
        new Tech("Electron", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/electron/electron-original.svg"),
        new Tech("NGINX", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nginx/nginx-original.svg"),
        new Tech("Python", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"),
        new Tech("Vue.js", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original-wordmark.svg"),
        new Tech("Express.js", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original-wordmark.svg"),
        new Tech("NestJS", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original-wordmark.svg"),
        new Tech("Node.js", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg"),
        new Tech("MongoDB", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"),
        new Tech("Kotlin", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg"),
        new Tech("JavaScript", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"),
        new Tech("TypeScript", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"),
        new Tech("CSS3", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg"),
        new Tech("HTML5", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg"),
        new Tech("Git", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg"),
        new Tech("GitHub", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"),
        new Tech("NPM", "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg"),
        new Tech("MySQL", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg"),
        new Tech("Java", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"),
        new Tech("C#", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"),
        new Tech("Docker", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"),
        new Tech("PHP", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"),
        new Tech("Laravel", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg"),
        new Tech("Discord.js", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/discordjs/discordjs-original.svg"),
        new Tech("Portainer", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/portainer/portainer-original.svg"),
        new Tech("TailwindCSS", "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg")
    };
    
    private record Tech(string Name, string Url);
}
